
.report-head{
    display: flex;
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}
.contact-details{
    list-style: none;
    font-size: 20px;
}
.contact-details li{
    padding: 10px;
    padding-bottom: 0;
    font-size: 18px;
}
.left-col{
    text-align: center;
}
.report-title{
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.report-title h2{
    text-decoration: underline;
    text-align: center;
}
.report-body{
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
}
.strong-name{
    font-weight: 800;
    text-decoration: underline;
}
.report-footer{
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
}
.report-footer p{
    margin: 5px;
}